<div id="main">
    {{{appString}}}
</div>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
{{!-- <script src="http://www.samgetlan.com/kelp-reviews/app.js"></script> --}}
<script>
    window.onload = () => {
    console.log('inside window.onload');
    ReactDOM.hydrate(
        React.createElement(Reviews),
        document.getElementById("main")
     );
    };
   {{{state}}}
</script>